@font-face {
    font-family: 'Cuprum-Regular';
    src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cuprum-Regular.woff') format('woff'),
    url('../fonts/Cuprum-Regular.ttf') format('truetype'),
    url('../fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, a, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .main-header .logo {
    font-family: 'Cuprum-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
    color: #2a5885;
}
.form-group.required label:after {
    content: '*';
    color: #dc3545;
    margin-left: 2px
}
.bg-danger {
    background-color: #dc3545!important;
}
.bg-secondary {
    background-color: #868e96!important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-success {
    background-color: #28a745!important;
}
.text-white {
    color: #fff!important;
}
.w-100 {
    width: 100%!important;
}

.content-wrapper, .right-side {
    background-color: #f9f9f9;
}
.breadcrumb {
    padding: 5px 15px 0;
    background-color: #f9f9f9;
    margin: 0 0;
}
.content-header>h1 {
    margin: 0;
    font-size: 22px;
}
.grid-view > .summary {
    margin: 0 0 5px;
}

.grid-view span.glyphicon {
    padding: 0px 2px;
    color: #393d50;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}

.summary {
    margin-bottom: 10px;
    /*display: inline-block;*/
    /*float: right;*/
}

.grid-view span.glyphicon.glyphicon-remove {
    color: #ac2925;
}

.grid-view span.glyphicon.glyphicon-ok {
    color: #4cae4c;
}

.btn-box.btn-group.btn-group-sm {
    margin-bottom: 5px;
}


.view-index .panel-body {
    padding: 5px 8px;
}

.skin-purple .main-header .logo:hover {
    background-color: #073c8d;
}

.skin-purple .main-header .logo {
    background-color: #073c8d;
}

.skin-purple .main-header .navbar {
    background-color: #fff;
}

.tab-content {
    padding-top: 20px;
}

.redactor-editor {
    border: 1px solid #d2d6de;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #305075;
}

.select2-container--krajee .select2-selection--single {
    height: 35px;
    padding: 12px 24px 6px 12px;
}

.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
}
.select2-container--krajee .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}
.select2-container--krajee .select2-selection {
    border-radius: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
}
.select2-container--krajee .select2-results > .select2-results__options {
    max-height: 400px;
}
.btn-default {
    background-color: #fff;
}
.select2-results__option {
    padding: 3px 8px;
    -webkit-user-select: none;
}
.sidebar-menu>li {
    border-bottom: 1px solid #333;
}
.content-img-item:nth-child(4n+1) {
    clear: both;
}

div#category-related_params > label {
    width: 100%;
}

.page-index .panel-body {
    padding: 5px 8px;
}
.sidebar-menu>li>a {
    padding: 15px 5px 15px 15px;
    font-size: 16px;
}
.sidebar-menu>li>a {
    padding: 15px 5px 15px 10px;
    font-size: 16px;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    font-size: 16px;
}
label {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}
.btn-danger span.glyphicon, .btn-primary span.glyphicon {
    color: #fff;
}
.skin-purple .wrapper, .skin-purple .main-sidebar, .skin-purple .left-side {
    background-color: #0747a6 !important;
}
.skin-purple .sidebar a {
    color: #fff !important;
}
.sidebar-menu>li {
    border-bottom: 1px solid transparent;
}
.skin-purple .sidebar-menu>li:hover>a, .skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li.menu-open>a {
    background: #0747a6 !important;
}
.skin-purple .main-header .navbar .sidebar-toggle:hover {
    background-color: #fff;
    color: #073c8d;
}
.skin-purple .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #073c8d;
}
.skin-purple .sidebar-menu>li.active>a {
    border-left-color: #f9f9f9;
}
.skin-purple .main-header .navbar .nav>li>a {
    color: #2a5885;
}
.skin-purple .main-header .navbar .nav>li>a:hover,
.skin-purple .main-header .navbar .nav>li>a:active,
.skin-purple .main-header .navbar .nav>li>a:focus,
.skin-purple .main-header .navbar .nav .open>a,
.skin-purple .main-header .navbar .nav .open>a:hover,
.skin-purple .main-header .navbar .nav .open>a:focus,
.skin-purple .main-header .navbar .nav>.active>a {
    background: #fff;
    color: #2a5885;
}
.skin-purple .main-header .navbar {
    background-color: #fff;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,.2);
}
.content-header {
    padding: 0 15px;
}
.skin-purple .main-header .navbar .sidebar-toggle {
    color: #073c8d;
}
.sidebar-menu li>a>.pull-right-container {
    margin-top: -11px;
}
.treeview-menu>li>a {
    padding: 10px 5px 10px 15px;
    display: block;
    font-size: 14px;
}
.page-title {
    margin: 0;
    font-size: 18px;
}
.content {
    padding: 5px 10px 15px;
}
.content .panel-body {
    padding: 7px;
}
section.content .panel {
    margin-bottom: 10px;
}
.alert {
    position: absolute;
    padding: 10px;
    margin-bottom: 0;
    top: 10px;
    right: 10px;
    z-index: 1111;
}
.alert .close {
    color: #fff;
    opacity: 1;
    padding-left: 7px;
}
.main-footer {
    padding: 7px 15px;
}
.nav-tabs-custom>.tab-content {
    padding: 20px 10px;
}
.table-form {
    margin-bottom: 7px;
}
.table-form  .form-group {
    margin-bottom: 0;
}
.table-form .help-block {
    margin-top: 0;
    margin-bottom: 0;
}
.table-form tr td:first-child{
    width: 200px;
}
.panel-body.form-panel-body {
    padding: 15px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 2px 7px;
}


#type-related_params label {
    width: 100%;
}

.wrap-product-params .checkbox label {
    font-size: 14px;
    margin-right: 15px;
}
.wrap-product-params .checkbox {
    display: inline-block;
    margin: 0 0 5px;
}
div#product-related_portfolio .checkbox {
    display: inline-block;
    width: 32%;
}