@media (max-width:1366px){

	.navbar-descriptor {
		max-width: 150px;
	}	
	.main-video-wrap, .main-image-wrap, .main-special-wrap {	
		height: auto;
		min-height: 1000px;
	}	
	.navbar-classic .navbar-nav .nav-item .nav-link {
		font-size: 12px;
	}
	.navbar-descriptor__text {
		display: none;
	}
}


@media (max-width:991px){
	.content-page .content-body img {
		height: auto !important;
	}

    .review-item {
        height: 220px;
    }

    .cart-modal-wrap a {
        padding: 5px 10px;
        font-size: 12px;
        margin-right: 10px;
    }
    .cart-modal-wrap img {
        width: 25px;
        float: left;
    }
    .cart-modal-wrap p {
        margin-bottom: 2rem;
        color: #000;
        font-size: 14px;
    }
    .h1, h1 {
        font-size: 1.2rem;
    }
    .layout-content {
        min-height: 200px;
        padding: 0;
    }
    .section-title {
        padding: 1rem;
    }
    .m-header {
        padding: 10px 0;
    }

    .breadcrumb {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .card-body {
        padding: .75rem;
    }
    .pr-item-col {
        width: calc(100% / 2 - 10px);
        margin: 5px;
    }
	.product-list.portfolio-product-list .pr-item-col {
		width: calc(100% / 2 - 20px);
		margin: 10px;
	}	
    .pr-item {
        padding: 7px;
    }
    .pr-item__title {
        font-size: 13px;
        padding: 5px;
    }
    .pr-item__img {
        padding: 0;
        height: 165px;
    }
    .pr-item-col.col-count-4 {
        width: calc(100% / 2 - 10px);
    }
    .pr-item__price {
        font-size: 14px;
    }
    .pr-item__intro {
        font-size: 13px;
    }
    
    .nav-link {
        padding: .25rem .5rem;
        font-size: 13px;
    }
    .table td, .table th {
        font-size: 14px;
        padding: .5rem;
    }
    .main-video-wrap {
        height: auto;
    }
    .main-video-wrap video {
        width: 100%;
        position: relative;
    }
    .main-video-wrap .overlay {
        position: relative;
    }

    .main-video-wrap, .main-image-wrap, .main-special-wrap {
        min-height: 600px;
    }
    .main-special-wrap {
        min-height: calc(100vh - 60px);
    }
    .main-special-offer {
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .main-special-list ul {
        font-size: 18px;
        line-height: 1.2;
    }
    .main-special-list.sm-list ul {
        font-size: 15px;
    }

    a.product-gallery__item {
        height: 300px;
    }
    .pr-view__img {
        height: 350px;
        padding: 0 10px;
        margin-bottom: 2rem;
    }
    .nav-product-params li a {
        text-transform: none;
        font-size: 12px;
        padding: 7px;
    }
    .pr-info-item__img {
        height: 100px;
        padding: 5px;
    }
    .pr-info-item__img img {
        max-height: 90px;
    }
    .pr-info-item .card-body {
        padding: 7px;
    }
    .pr-info-item {
        margin-bottom: 10px;
    }
    .pr-info-item__title {
        font-size: 12px;
    }
    .pr-slide-item__img {
        width: 80px;
        height: 80px;
    }
    .pr-slide-item__title {
        font-size: 13px;
    }
    .pr-slide-list {
        margin: .5rem 0 2rem;
    }
    .product-model__title {
        text-align: center;
    }
    .nav-product-params .nav-link {
        padding: 0.5rem;
    }
    .table-bordered td, .table-bordered th {
        width: 60%;
        vertical-align: middle;
    }

    .pr-model__actions {
        justify-content: center;
        padding: 3px 0;
    }
    .pr-model__actions a {
        margin: 10px;
        font-size: 11px;
    }
    .nav-prod-models {
        flex-direction: row;
    }
    .nav-prod-models__title {
        text-align: center;
    }
    .nav-prod-models__wrap {
        border-bottom: 1px dashed #ddd;
        margin-bottom: 15px;
    }
    .action__icon__title {
        display: none;
    }
    .product-action__item {
        margin-left: 1rem;
    }
    .pr-view_download {
        padding: 5px 24px 5px 10px;
    }
    .pr-view__video {
        margin: 1rem auto;
        width: 100%;
        height: 250px;
    }
    .pr-view {
        padding: 0 0 1rem;
    }
    .project-item {
        height: 250px;
    }
    .project-item a span {
        font-size: 1.2rem;
    }
    .main-news-item {
        padding: 0;
        height: auto;
        min-height: 340px;
    }
    .banner-item {
        padding: 10px;
    }
    .banner-item__img {
        height: 100px;
    }
    .banner-item__title {
        font-size: 14px;
        padding: 10px 0;
        line-height: 1;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
    }

    .contact-map-box {
        height: 250px;
    }
    .contact-tabs a {
        padding: 5px 7px;
        font-size: 14px;
    }
    .contact-desc ul li {
        font-size: 14px;
    }
    .about-item {
        font-size: 1rem;
    }
    .about-main__text {
        font-size: 1rem;
    }
    .about-partners-list img{
        max-height: 50px;
    }

    .compare-left {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .compare-right {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .compare-param-item {
        font-size: 13px;
    }

    .compare-product {
        height: 200px;
        margin-bottom: 1rem;
    }
    .compare-params__header {
        height: 211px;
        margin-bottom: 1rem;
    }

    .clear-link span {
        font-size: 12px;
    }
    .clear-link img {
        height: 20px;
    }
    .compare-product__img {
        height: 130px;
    }
    .compare-product span {
        font-size: 13px;
    }
    .feedback-wrap {
        max-width: 100%;
    }
    .feedback-modal-wrap {
        width: 100%;
        min-width: 270px;
        padding: 0;
    }
    .main-offer__wrap {
        position: absolute;
        flex-direction: column;
    }
    h1.main-offer{
        font-size: 22px;
        max-width: 85%;
        margin: 0 auto;
    }
    .main-offer__link {
        /*display: none;*/
        margin-top: 1rem;
        padding: .35rem .75rem;
        font-size: 1rem;
    }

    #form-feedback .form-control {
        height: calc(2.25rem + 2px);
    }
    #form-feedback textarea.form-control {
        height: 80px;
    }
    .filter__link span{
        display: none;
    }

    .filter-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .filter-right {
        flex: 0 0 100%;
        max-width: 100%;
    }


    .company-page__main {
        background-position: center top;
    }
    .company__text {
        max-width: 100%;
    }
    h1.company-title {
        font-size: 1.5rem;
    }
    .main-service-item {
        padding: 1rem 0;
    }
    .main-services-list {
        padding: 1rem 15px;
    }
    .main-service-item__title {
        padding: .5rem 0;
        font-size: 14px;
    }
    .main-service-item__img {
        height: 150px;
    }
    .main-service-item__desc {
        padding: 7px 0;
        font-size: 12px;
    }

    .map-desc {
        position: relative;
    }
    .map-title {
        font-size: 1rem;
    }
    .map-objects__count {
        font-size: 1rem;
    }
    .map-objects__icon {
        padding: 0;
        border: none;
    }
    .map-objects__icon img{
        width: 80px;
    }
    .map-objects__text {
        padding: .5rem;
        font-size: 12px;
        max-width: 100%;
    }
    .map-objects__text ul {
        padding: 0 15px;
    }
    .map-objects__text ul li {
        margin-bottom: .5rem;
    }
    .map-desc__wrap {
        padding-bottom: 1rem;
    }

    .cart-item__img {
        height: 80px;
    }
    .cart-list.product-list {
        margin-bottom: 2rem;
    }
    .cart-item {
        padding: 7px 15px;
    }

    .success-page {
        padding: 3rem 1rem;
    }
    .success-page__main {
        font-size: 18px;
    }
    .success-page h4 {
        font-size: 18px;
    }
    .success-page h5 {
        font-size: 16px;
    }
    .success-page__recommended {
        max-width: 100%;
    }

    .content-body {
        padding: 1rem;
        margin: 0 1rem;
    }


    #searchModal .fancybox-button {
        width: 45px;
        height: 45px;
    }
    .search-header {
        height: auto;
    }
    .search-header h3 {
        font-size: 16px;
    }
    .search-box-size {
        width: 100%;
    }
    .search-result h6 {
        font-size: 14px;
    }
    .search-header .form-control.form-control-lg {
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
    }
    .search-result-item h5 {
        font-size: 16px;
    }
    .search-result-item p {
        font-size: 13px;
    }

    .quiz-modal-wrap {
        padding: 10px;
        min-width: auto;
    }
    .quiz-modal-wrap label {
        font-size: 16px;
    }

    .about-awards {
        max-width: 100%;
    }
    .awards-title {
        font-size: 18px;
    }
    .awards_text {
        font-size: 15px;
    }
    .adv__icon {
        max-height: 100px;
    }


}

/*
    Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
    .container {
        max-width: 85%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 85%;
    }
    .main-video-wrap video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@media (min-width: 1600px) {
    .container {
        width: 85%;
        max-width: 1590px;
    }
    .pr-view__video {
        max-width: 800px;
    }
}

