.header-middle .navbar-nav .nav-item .nav-link, .header-compact .top-header a {
    font-size: 15px;
}

.mega-dropdown-menu a.dropdown-item span.navbar-classic.navbar-light .navbar-nav .nav-link {
    color: #181825;
    padding: 12px 16px;
}
.navbar-classic .navbar-nav .nav-item .nav-link {
    color: #666;
    padding: 12px 7px;
    line-height: 30px;
}
.navbar-classic.navbar {
    padding: 1.5rem 0px;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #f1f1f6;
    border-radius: 0px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: initial;
    line-height: inherit;
    white-space: nowrap;
    color:#181825;
    font-size:24px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 16rem;
    padding: 12px;
    margin: 18px 0px;
    font-size: 1rem;
    color: #808294;
    text-align: left;
    list-style: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.mega-dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: 10px;
    clear: both;
    font-weight: 400;
    color: #181825;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    line-height: 15px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ef8f55;
    text-decoration: none;
    border-radius: 4px;
}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after {
    color: #ef8f55;
}
@media(min-width:992px) {
    .dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in
    }
    .dropdown:hover>.dropdown-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }
    .dropdown-submenu:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 17px;
    top: 25px;
}
.dropdown-submenu .dropdown-menu {
    top: 0px;
    left: 100%;
    margin-left: 13px;
    margin-right: .1rem;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.mega-dropdown {
    position: unset;
}
.mega-dropdown-menu {
    width: 100%;
    position: absolute;
    top: 75px;
    margin: 15px 0px;
    padding: 0;
    border: none;
    box-shadow: none;
}
.mega-dropdown-menu ul {
    list-style: none;
}
.nav-dropitem-arrow {
    position: relative;
    font-size: 12px;
    opacity: 0;
    padding-right: 10px;
}
.nav-dropitem-arrow i {
    position: absolute;
}
.navbar-classic .navbar-toggler, .navbar-boxed .navbar-toggler {
    padding: 17px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #eaeaf0;
    border-radius: .25rem;
    position: relative;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
    border-bottom: 1px solid #f1f1f6;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #495bfb;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
    border-bottom: 1px solid #f1f1f6;
}

ul.dropdown-menu.mega-dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}
ul.dropdown-menu.mega-dropdown-menu li {
    width: calc(100% / 8 - 20px);
    background: rgba(237,141,85,.75);
    margin: 10px;
}
ul.dropdown-menu.mega-dropdown-menu li a{
    color: #fff;
}
ul.dropdown-menu.mega-dropdown-menu li:hover {
    background: rgba(255,255,255,.75);
    transition: .5s;
}
ul.dropdown-menu.mega-dropdown-menu li:hover a{
    color: #333;
}
.mega-dropdown-menu a.dropdown-item {
    display: block;
    text-align: center;
    white-space: normal;
}
.mega-dropdown-menu a.dropdown-item span {
    display: block;
    padding: 5px 0;
    overflow: hidden;
}
.dropdown-item__img {
    margin: 0 auto;
    height: 70px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.dropdown-item__img img{
    max-height: 100%;
}




















