/*
developed by Ezaz Khidirbayev e.hidirbaev@gmail.com | xsoft.kz at 02.02.2020
*/
@font-face {
    font-family: 'PlumbKaz-Bold';
    src: url('../fonts/PlumbKaz-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlumbKaz-Bold.woff') format('woff'),
    url('../fonts/PlumbKaz-Bold.ttf')  format('truetype'),
    url('../fonts/PlumbKaz-Bold.svg#PlumbKaz-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlumbKaz-Black';
    src: url('../fonts/PlumbKaz-Black.eot');
    src: local('☺'), url('../fonts/PlumbKaz-Black.woff') format('woff'),
    url('../fonts/PlumbKaz-Black.ttf') format('truetype'),
    url('../fonts/PlumbKaz-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlumbKaz-Regular';
    src: url('../fonts/PlumbKaz-Regular.eot');
    src: local('☺'), url('../fonts/PlumbKaz-Regular.woff') format('woff'),
    url('../fonts/PlumbKaz-Regular.ttf') format('truetype'),
    url('../fonts/PlumbKaz-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}
body {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'PlumbKaz-Regular', Arial, sans-serif;
    color: #666;

}
.h1, h1 {
    font-family: 'PlumbKaz-Bold', Arial, sans-serif;
    font-size: 2.5rem;
}
a {
    color: #666;
}
img {
    max-width: 100%;
}
a:hover, a:focus {
    text-decoration: none;
    color: #e22f22;
}
i.fa {
    color: #909090;
}
p {
    margin-bottom: .5rem;
}
iframe {
    max-width: 100%;
}
form {
    margin: 0;
}
button, input {
    outline: 0;
    border: 0;
}
.dropdown-menu-sm {
    min-width: 7rem !important;
}

/*common*/
.fancybox-content {
    padding: 2rem;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 10px;
}
label {
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'PlumbKaz-Bold', Arial, sans-serif;
    padding-top: 4px;
}
.alert {
    opacity: 1 !important;
    margin: 1rem 0;
}
.content p{
    line-height: 1.4;
}
.content img {
    max-width: 100%;
}
.font-primary {
    font-family: "PlumbKaz-Bold", Arial, sans-serif;
}
.font-secondary {
    font-family: "PlumbKaz-Black",Helvetica,Arial,sans-serif;
}
.bg-accent {
    background-color: #ff7421;
}
.text-accent {
    color: #ff7421;
}
.btn-rounded {
    border-radius: 10em;
}
.btn-main {
    color: #fff;
    background-color: #ff7421;
    border-color: #ff7421;
}
.btn-main:hover {
    color: #fff;
}
.btn-outline-main {
    color: #ff7421;
    background-color: transparent;
    background-image: none;
    border-color: #ff7421;
}
.btn-outline-main:hover {
    color: #fff;
    background-color: #ff7421;
    border-color: #ff7421;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-gradient {
    color: #fff;
    background: url("/img/btn-gradient.png") no-repeat;
    background-size: 100% 100%;
}
.btn-gradient:hover, .btn-gradient:focus {
    color: #fff;
}


.wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: -300px;
    padding-bottom: 340px;
}
.dashed {
    display: inline-block;
    border-bottom: 1px dashed #1358b8;
}
.breadcrumb {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: .25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.breadcrumb li.breadcrumb-item a, .breadcrumb li.active {
    font-size: 13px;
    display: inline-block;
    color: rgb(169, 169, 169);
}
li.breadcrumb-item {
    font-size: 13px;
}
.breadcrumb li.breadcrumb-item a{
    text-decoration: underline;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #a9a9a9;
    content: "/\00a0";
    font-size: 12px;
}
.breadcrumb li.active:before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #a9a9a9;
    content: "/\00a0";
}
.shadow-cs {
    -webkit-box-shadow: -1px 0 0 0 #e6e6e6 inset, 0 -1px 0 0 #e6e6e6 inset, -1px -1px 0 0 #e6e6e6 inset, -1px 0 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
    box-shadow: -1px 0 0 0 #e6e6e6 inset, 0 -1px 0 0 #e6e6e6 inset, -1px -1px 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
}
.bgc-accent {
    background: #f8f8f8;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff7625;
}
.fancybox-bg {
    opacity: 1 !important;
    background-color: rgba(255,255,255,.95);
}
.fancybox-caption {
    background: transparent;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.container {
    position: relative;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
}
.btn-download {
    color: #212529;
    background-color: #ca8053;
    border-color: #ca8053;
}
.btn-download.focus, .btn-download:focus {
    box-shadow: 0 0 0 0.2rem rgba(202,128,83,.5);
}

ul.pagination{
    width: 100%;
    padding: 15px;
    justify-content: center;
}
ul.pagination li:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

ul.pagination li a, ul.pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ca8053;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.pagination > li.active, ul.pagination > li.active > a {
    z-index: 2;
    color: #fff;
    background-color: #ff7625;
    border-color: #ff7625;
}
.hoverable {
    transition: .3s;
}
.transitionable {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.hoverable:hover {
    transition: .3s;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.section-item {
    padding: 2rem 0;
}
.section-title {
    padding: 2rem 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
}
.f-aic {
    display: flex;
    align-items: center;
}
.content-view img {
    height: auto !important;
}


/*header*/
.header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-default .top-header {
    background-color: #f4f4f4;
}
.header-main .top-header a {
    color: #ff7625 !important;
}
.header-default {
    background: #fff;
}
.dropdown-menu.lang-menu a {
    padding: 7px 0;
}
.header-main .navbar-classic .navbar-nav .nav-item .nav-link {
    color: #fff;
}
.header-default ul.dropdown-menu.mega-dropdown-menu  li {
    background: rgba(237,141,85,.97);
}
.navbar-descriptor {
    max-width: 400px;
    display: flex;
    align-items: center;
}
.navbar-descriptor__logo {
    padding-right: 15px;
    border-right: 1px solid #fff;
}
.navbar-descriptor__text {
    color: #fff;
    margin-left: 15px;
    font-size: 14px;
    line-height: 1.2;
}



.header-compact .navbar-classic.navbar {
    transition: .3s;
    padding: 0;
}
.header-compact .h__logo {
    max-height: 35px;
}
.header-compact .navbar-nav .nav-item .nav-link, .header-compact .top-header a {
    font-size: 14px;
}
.header-compact .mega-dropdown-menu {
    top: 50px;
}
.dropdown-menu.lang-menu {
    background: #fff;
}
.header-compact {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}
.header-compact + .layout-content {
    padding-top: 133px;
}
.nav__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
}
.nav-link__badge {
    padding-left: 5px;
}
.top-nav li a {
    font-size: 14px;
}
.header-compact .navbar-descriptor__text, .header-default .navbar-descriptor__text {
    line-height: 1;
    color: #666;
}
.header-compact .navbar-descriptor__logo, .header-default  .navbar-descriptor__logo {
    border-right: 1px solid #666;
}


/*footer*/
.footer {
    background-color: #f5f7f6;
    border-top: 1px solid #ddd;
    padding: 3rem 0 1rem;
}
.f-social-links {
    display: block;
    padding: 2rem 0;
}
.f-social-links li {
    float: left;
    margin-right: 15px;
}
.f-social-links li a img{
    width: 30px;
}


/*main page*/
.main-video-wrap, .main-image-wrap, .main-special-wrap {
    position: relative;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 800px;
}
.main-image-wrap, .main-special-wrap {
    background-image: url("/img/main-bg-img-2.jpg");
    background-position: bottom center;
    background-size: cover;
}
.main-special-wrap .container {
    color: #fff;
    position: relative;
    z-index: 99;
}
.main-video-wrap .overlay, .main-image-wrap .overlay,  .main-special-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.35;
    z-index: 1;
}
.main-offer__wrap {
    text-align: center;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1.main-offer {
    color: #fff;
    max-width: 75%;
    margin: 0 auto 3rem;
}
.main-special-offer {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.main-special-list ul {
    padding: 10px 20px;
    font-size: 20px;
}
.main-special-list ul li{
    list-style: none;
}
.main-special-list ul li:before {
    content: "\2022";
    color: #ff7625;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.main-special-list.sm-list ul {
    font-size: 16px;
}
.main-special-wrap .btn {
    padding: .5rem 1rem;
    font-weight: 600;
}
.main-special__img {
    position: absolute;
    bottom: 0;
    right: 15%;
    max-height: 80%;
    z-index: 99;
}




ul.f-col-list {
    padding: 0 20px;
}
ul.f-col-list li {
    line-height: 26px;
    list-style: none;
    position: relative;
}
ul.f-col-list li:before {
    content: "";
    background: url(/img/arrow.png) no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    left: -20px;
    top: 8px;
}
ul.f-col-list li a {
    font-size: 13px;
    line-height: 1;
}

/*products*/
.pr-section {
    padding: 1rem 0;
}
.product-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pr-item-col {
    width: calc(100% / 5 - 20px);
    margin: 10px;
}
.pr-item-col.col-count-4 {
    width: calc(100% / 4 - 20px);
}

.pr-item {
    display: block;
    padding: 1rem;
    transition: top 1s ease-out 0.5s;
    position: relative;
}
.pr-item__title {
    display: block;
    font-weight: 900;
    font-size: 18px;
    padding: 7px;
    line-height: 1.2;
}
.pr-item:hover {
    box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,.15);
    transition: top 1s ease-out 0.5s;
    color: #666;
}
.pr-item__img {
    padding: 1rem;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pr-item__img img {
    max-width: 100%;
    max-height: 100%;
}

.pr-item__img-front {
    transition: .5s;
    z-index: 2;
}
.pr-item:hover .pr-item__img-front {
    transition: .35s;
    opacity: 0;
}
.pr-item:hover .pr-item__img-back {
    transition: .75s;
    opacity: 1;
}
.pr-item__img-back {
    padding: 0;
    transition: .5s;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.pr-item__intro {
    white-space: pre-wrap;
    font-size: 14px;
}
.pr-item__price {
    font-weight: 600;
    font-size: 18px;
}


.compare-params__header {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.compare-products-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.compare-position-col {
    padding: 10px;
    border: 1px solid #fff;
}
.compare-position-col:hover {
    border: 1px solid #666;
}
.compare-product {
    display: block;
    text-align: center;
    padding: .5rem;
    height: 250px;
    overflow: hidden;
    margin-bottom: 3rem;
}
.compare-product span {
    display: block;
    padding: 2px;
}
.compare-product__img {
    height: 170px;
}
.compare-product__img img {
    max-height: 95%;
}
.compare-param-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #ddd;
}
.compare-products-list + .lSAction>a {
    top: 100px !important;
}
.compare-wrap {
    display: flex;
    flex-wrap: wrap;
}
.compare-left {
    flex: 0 0 25%;
    max-width: 25%;
}
.compare-right {
    flex: 0 0 75%;
    max-width: 75%;
}
.clear-link {
    display: flex;
    line-height: 1;
}
.clear-link img{
    height: 25px;
    margin-right: 5px;
}
.clear-link span {
    width: 130px;
    font-size: 15px;
}



/*product view*/
.pr-view {
    padding: 1rem 0;
}
.pr-view__img {
    height: 100%;
    padding: 0 7px;
    align-items: center;
}
a.product-gallery__item {
    display: flex;
    height: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
a.product-gallery__item img{
    max-height: 100%;
}
.pr-view__img.gallery-products .product-gallery__item img {
    max-height: 95%;
}
#photos-facade {
    display: block;
    height: 0;
    overflow: hidden;
}
#photos-facade.active {
    height: auto;
    overflow: initial;
}
.pr-info-item__img {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pr-info-item__img img {
    max-height: 170px;
}
.lSSlideOuter .lSPager.lSGallery img {
    max-height: 55px;
    margin: 0 auto;
}
ul.lSPager.lSGallery li {
    border: 2px solid #ddd;
    padding: 5px;
}
ul.lSPager.lSGallery li.active{
    border: 2px solid #ff7625;
}
.lSAction>.lSNext {
    background-position: 0;
    background-image: url(/svg/arrow-right.svg);
    background-size: 32px;
    right: 10px;
}
.lSAction>.lSPrev {
    background-image: url(/svg/arrow-left.svg);
    background-size: 32px;
    right: 10px;
}
.product-view__content {
    margin: 2rem 0;
}
.nav-prod-models {
    flex-direction: column;
}
.pr-model__actions {
    display: flex;
    margin: 0;
    padding: 10px 0;
    justify-content: center;
}
.pr-model__actions a {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #666;
    font-size: 16px;
}
.pr-model__actions a:hover, .pr-model__actions a.active {
    color: #ff7625;
}
a:hover .compare__icon, a.active .compare__icon {
    background: url(/svg/comparison-fill.svg) no-repeat;
    background-size: contain;
}
a:hover .favorite__icon, a.active .favorite__icon {
    background: url(/svg/heart-fill.svg) no-repeat;
    background-size: contain;
}
a:hover .cart__icon, a.active .cart__icon {
    background: url(/svg/cart-fill.svg) no-repeat;
    background-size: contain;
}
.compare__icon {
    background: url(/svg/comparison.svg) no-repeat;
    background-size: contain;
}
.compare-dark__icon {
    background: url(/svg/comparison-dark.svg) no-repeat;
    background-size: contain;
}
.favorite__icon {
    background: url(/svg/heart.svg) no-repeat;
    background-size: contain;
}
.cart-dark__icon {
    background: url(/svg/cart-dark.svg) no-repeat;
    background-size: contain;
}
.cart__icon {
    background: url(/svg/cart-accent.svg) no-repeat;
    background-size: contain;
}
.favorite-dark__icon {
    background: url(/svg/heart-dark.svg) no-repeat;
    background-size: contain;
}
.search-dark__icon {
    background: url(/svg/search-dark.svg) no-repeat;
    background-size: contain;
}
.download__icon {
    background: url(/svg/download.svg) no-repeat;
    background-size: contain;
}
.support__icon {
    background: url(/svg/support.svg) no-repeat;
    background-size: contain;
}
.phone__icon {
    background: url(/svg/phone.svg) no-repeat;
    background-size: contain;
}
.language__icon {
    background: url(/svg/language.svg) no-repeat;
    background-size: contain;
}

.pr-model__actions .action__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 10px;
}
.product-portfolio {
    padding: 1rem 0;
}
.pr-portfolio-item {
    text-align: center;
    padding: .5rem;
}
.pr-portfolio-item__img {
    display: block;
}
.pr-portfolio-item__img img{
    width: 100%;
}
.pr-portfolio-item__title {
    display: block;
    padding: 1rem;
}
.product-action__item {
    margin-left: 2rem;
}
.product-action__item a {
    display: flex;
    align-items: center;
}
.product-action__item .action__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}
.pr-view__video {
    margin: 1rem auto;
    width: 60%;
    height: 400px;
}
.filter__link {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
}
.filter__link img{
    height: 18px;
    margin-right: 10px;
}
.pr-gallery-tab-nav .nav-link {
    padding: .25rem .5rem;
    font-size: 12px;
}
.cart-item-col {
    width: 100%;
    margin: 10px 0;
}
.cart-item__img {
    padding: 7px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-item__img img {
    max-width: 100%;
    max-height: 100%;
}
.cart__quantity__wrap {
    display: flex;
    align-items: center;
}
.cart__quantity__wrap img{
    width: 20px;
}
.cart__quantity {
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
span.m-cart__badge {
    color: #fff;
    border-radius: 7px;
    position: absolute;
    top: -2px;
    right: 10px;
    background: #9a9a9a;
    font-size: 9px;
    padding: 1px 4px;
}
.cart-modal-wrap img {
    width: 30px;
    margin-right: 10px;
}
.cart-modal-wrap p {
    margin-bottom: 2rem;
    color: #000;
}
.cart-modal-wrap a {
    padding: 5px 20px;
    font-size: 14px;
    margin-right: 15px;
}
.cart-modal-wrap a:focus {
    color: #ff7421;
}
.cart-modal-wrap a:hover {
    color: #fff;
}

/*product-params*/
.nav-product-params {
    text-transform: uppercase;
    background: #ebebeb;
}
.nav-product-params .nav-link {
    padding: 1rem;
}
.nav-tabs .nav-item {
    margin-bottom: -2px;
}



/*product slide*/
.pr-slide-list {
    margin: 1rem 0 2rem;
}
.pr-slide-item {
    text-align: center;
}
.pr-slide-item__img {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pr-slide-item__img img {
    max-width: 100%;
    max-height: 100%;
}
.lSAction>a {
    background-image: url(/img/controls.png);
}


/*main page projects*/
.project-item {
    position: relative;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-item a {
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
    padding: 1rem;
}
.project-item a:hover {
    transition: .3s;
    background: rgba(0,0,0,.1);
}
.project-item a:hover span{
    transition: .3s;
    color: #ef8f55;
}
.project-item a span {
    transition: .3s;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}


.main-news-item{
    padding: 1rem .5rem;
    min-height: 370px;
    line-height: 1.2;
}
.banner-item {
    position: relative;
    background: #f5f7f6;
}
.banner-item__img {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-item__img img{
    max-width: 100%;
    max-height: 100%;
}
.banner-item__title {
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 1rem;
}
.banner-item:hover, .banner-item:focus {
    background: #f57224;
}
.banner-item:hover .banner-item__title,
.banner-item:focus .banner-item__title {
    color: #fff;
}


/*contacts*/
.contact-map-box {
    width: 100%;
    height: 400px;
}
.contact-tabs a {
    font-size: 18px;
}
.contact-desc ul li {
    list-style: none;
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
}
.contact-desc ul li:before {
    content: "";
    background: url(/img/arrow.png) no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    left: -24px;
    top: 8px;
}
.nav-tabs.contact-tabs .nav-link.active {
    color: #ff7422;
}


/*about-page*/
.about-page {
    font-size: 20px;
}
.about-main__text {
    padding: 2rem;
}
.about-item {
    padding: .5rem 0;
    font-size: 1.75rem;
    font-family: 'PlumbKaz-Bold', Arial, sans-serif;
}
.about-item img {
    max-height: 300px;
    margin-bottom: 15px;
}
.about-partners-list img{
    max-height: 100px;
}
.about-awards {
    max-width: 75%;
    margin: 0 auto;
}
.awards_text {
    font-size: 18px;
    padding: 1rem 0;
}


/*filter*/
.filter-wrap {
    display: flex;
    flex-wrap: wrap;
}
.filter-left {
    flex: 0 0 20%;
    max-width: 20%;
}
.filter-right {
    flex: 0 0 80%;
    max-width: 80%;
}
.filter-box {
    position: sticky;
    top: 120px;
    padding-right: 2rem;
}
.filter-item label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 7px;
}
.filter-item .custom-control.custom-checkbox {
    display: inline-block;
}

/*feedback*/
.feedback {
    background: url("/img/night.jpg") no-repeat top;
    background-size: cover;
    /*filter: grayscale(100%);*/
}
.feedback-inner, .feedback-inner a{
    color: #000;
}
.feedback-inner {
    padding: 3rem 0;
    background-color: rgba(255,255,255,.95);
}
.feedback-wrap {
    margin: 0 auto;
    max-width: 60%;
}
#form-feedback textarea.form-control {
    height: auto;
}
#form-feedback .form-control {
    height: calc(3rem + 2px);
}
#form-feedback label {
    font-size: 16px;
}
.feedback-modal-wrap {
    min-width: 400px;
    max-width: 400px;
    padding: 2rem;
}
#free-callback-modal .feedback-modal-wrap{
    padding: 1rem;
}
.feedback-checkboxes {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}



.success-page {
    padding: 3rem;
    text-align: center;
    color: #000;
}
.success-page__recommended {
    max-width: 75%;
    margin: 2rem auto;
}
.success-page__recommended .btn{
    margin-bottom: 7px;
}
.success-page img.icon {
    width: 100px;
    margin-bottom: 2rem;
}
.cart-item__img {
    padding: 7px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success-page__main {
    background: #ff7421;
    display: inline-block;
    color: #fff;
    padding: 7px 15px;
    font-size: 28px;
    margin-bottom: 1rem;
}
.success-page__main strong {
    font-weight: bold;
}
div#feedback-download-modal {
    max-width: 450px;
}


.h-search-input:focus {
    background: #d2d2d263;
    box-shadow: none;
}
.h-search-input {
    font-size: 14px;
    color: #5e5f61;
}
.h-search-box {
    position: relative;
}
.h-search-btn {
    position: absolute;
    right: 3px;
    top: 1px;
    background: transparent;
    border: none;
    padding: 6px 8px;
    line-height: 24px;
}
.h-search-btn i.fa {
    font-size: 18px;
    color: #fff;
}
.h-search-btn img {
    width: 20px;
}
#searchModal .fancybox-button {
    width: 70px;
    height: 70px;
}
#searchModal {
    width: 100%;
    height: 100%;
    padding: 0;
}
.search-box-size {
    width: 60%;
    margin: 0 auto;
}
.search-header {
    padding: 10px;
    background: #f8f9fa;
    height: 110px;
}
#search-results {
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.text-center.search-indicator {
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
}
.search-result-item__img {
    width: 70px;
    padding: 7px;
}
.search-result-item__text {
    width: calc(100% - 70px);
    padding-left: 10px;
}
.search-result-item {
    display: flex;
    align-items: center;
}


/*company*/
.company-page__main {
    padding: 3rem 0;
    min-height: 500px;
    display: flex;
    align-items: center;
    background: url("/img/bg_company.jpg") no-repeat;
    background-size: cover;
    background-position: right top;
}
.company__text h1{
    font-size: 2rem;
    color: #ff7421;
}
.company__text h5{
    font-weight: 600;
    color: #ff7421;
}
.company__text {
    max-width: 50%;
    color: #000;
}
.checked-list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.checked-list ul li {
    padding-left: 1em;
    text-indent: -1em;
}
.checked-list ul li:before {
    content: '✓';
    padding-right: 5px;
}
.main-services-list {
    padding: 3rem 0;
}
.main-service-item {
    padding: 1rem;
}
.main-service-item__title {
    font-weight: 600;
    padding: 1rem 0;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ff7421;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.main-service-item__desc {
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
}
.main-service-item__img {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-service-item__img img{
    max-height: 100%;
}
.map-desc__wrap {
    margin: 1rem 0;
    position: relative;
}
.map-desc {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.map-objects {
    display: flex;
    align-items: center;
}
.map-objects__icon {
    padding: 1.5rem 1rem;
    border-right: 1px solid #666;
}
.map-objects__text {
    padding: 1rem;
    font-size: 18px;
    max-width: 50%;
    color: #000;
}
.map-objects__text ul {
    margin: 0;
}
.map-objects__icon img{
    width: 40px;
}
.map-objects__text ul li{
    margin-bottom: .75rem;
}
.map-objects__count {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}
.map-title {
    font-size: 1.75rem;
}

/*faq*/
.faq-section__title {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.adv-item h6 {
    font-weight: bold;
}
.adv-item h3, h4, h5 {
    font-weight: bold;
    color: #ff7421;
}
.adv__icon {
    max-height: 150px;
    margin-bottom: 1rem;
}

/* widget*/
@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 165, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 165, 0, 0);
    }
}
@keyframes shadow-pulse-big
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 165, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 60px rgba(0, 165, 0, 0);
    }
}
.w-call {
    position: fixed;
    float: left;
    margin: 30px;
    width: 55px;
    height: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(0, 165, 0, 0.8);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
    bottom: 25px;
    right: 130px;
    z-index: 10;
}
.w-call img {
    width: 100%;
}

/*telegram widget*/
.telegram-subscribe {
    padding: 1rem;
}
.btn-telegram {
    border-radius: 3px;
    background-color: #039be5!important;
    color: #fff!important;
    padding: 7px 15px 7px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.btn-telegram img{
    height: 20px;
    margin-right: 3px;
}

/*blog*/
.content-column {
    max-width: 1000px;
    margin: 0 auto;
}
.content-page {
    background-color: #f4f4f4;
}
.content-header {
    padding: 1rem;
}
.content-body {
    background: #fff;
    padding: 2rem 6rem;
    margin-bottom: 2rem;
}
.product-list.portfolio-product-list .pr-item-col {
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.content-body table td, .content-body table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
	border: 1px solid #dee2e6;
}
.content-body table {
    width: 100%;
    margin-bottom: 1rem;
	display: block;
    overflow: auto;
    max-width: 100%;
}

 .quiz-wrap {
     height: 700px;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .quiz-body {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: rgba(255,255,255,.75);
 }
.quiz-modal-wrap label {
    font-size: 20px;
}
.quiz-modal-wrap {
    padding: 1rem 1rem 0;
    min-width: 450px;
}
.quiz-modal-wrap .invalid-feedback {
    display: none !important;
}

.review-item {
    display: block;
    height: 300px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden;
}
.review-item span {
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
    padding: 1rem;
}
.review-item a img {
    width: 50px;
}
.reviews-list-wrap .lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #ed712e;
}
.reviews-list-wrap .lSSlideOuter .lSPager {
    padding-top: 15px
}
.reviews-list-wrap .lSSlideOuter .lSPager.lSpg>li {
    padding: 0 10px;
}
.reviews-list-wrap .lSSlideOuter .lSPager.lSpg>li a {
    background-color: #929292;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}


.main-lids-form {
    display: flex;
    align-items: center;
    min-height: 600px;
}
.main-lids__title {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #000;
}
.main-lids__catalog--name {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #000;
    margin: 2rem 0 1rem;
}
.main-lids__file {
    font-size: 22px;
}
.main-lids__catalog--desc span:first-child {
    display: block;
}

.partner-item__img {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-item__img img{
    max-height: 100%;
    max-width: 100%;
}
